window {
    margin: 0px;
    border: 1px solid #89b4fa;
    background-color: rgba(13, 13, 19, 0.658);
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    background-color: rgba(13, 13, 19, 0.4);
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: rgba(13, 13, 19, 0.4);

}   

#outer-box {
    margin: 5px;
    border: none;
    background-color: rgba(13, 13, 19, 0.4);
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    font-family: 'Courier New', Courier, monospace;
}

#entry.activatable #text {
    color: #40408a;
    font-family: 'Courier New', Courier, monospace;
}

#entry>* {
    color: #f8f8f2;
}

#entry:selected {
    background-color: #89b4fa;
}

#entry:selected #text {
    font-weight: bold;
    color: #ffffff;
   
}                                                           